body {
  background-color: pink;
}

h1 {
  color: darkslateblue;
}

#call-api {
  background-color: LightSalmon;
  border-radius: 5px;
  border: 2px solid gray;
  height: 30px;
}

#call-api:active {
  background-color: darkslateblue;
}



/* change the styles in this file to whatever you want */
